<%= form_for(@letter_item) do |f| %>
  <%= render "shared/errors", instance: @letter_item %>

  <div class="holder-form">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>

    <%= f.hidden_field :letter_id %>
    <%= render 'shared/submit_tag' %>
  </div>
<% end %>
