<ul class="info-list user">

  <li>
    <div class="field info">
      <span class="info-name"><%= User.human_attribute_name(:nick) %></span>
      <span class="info-holder"><%= dashed(current_user.nick) %></span>
    </div>
  </li>

  <li>
    <div class="field info">
      <span class="info-name"><%= Account.human_attribute_name(:email) %></span>
      <span class="info-holder"><%= dashed(current_account.email) %></span>
      <%= render 'pages/data/confirmation', target: :email %>
    </div>
  </li>

  <li>
    <div class="field info">
      <span class="info-name"><%= User.human_attribute_name(:jabber) %></span>
      <span class="info-holder"><%= dashed(current_user.jabber) %></span>
      <%= render 'pages/data/confirmation', target: :jabber %>
    </div>
  </li>

  <li>
    <div class="field info">
      <span class="info-name">&nbsp;</span>
      <span class="info-holder"><%= country_tz_lang(current_user) %></span>
    </div>
  </li>

  <li>
    <div class="field info">
      <span class="info-name">Reader</span>
      <span class="info-holder">
        <%= render 'pages/data/status', whose: :reader %>
      </span>
    </div>
  </li>

</ul>
