<div class="holder">
  <%= form_tag sessions_path, method: :post, class: "login-form" do %>
    <h2><%= t('sessions.form.title') %></h2>


    <div class="field">
      <%= label_tag :email, User.human_attribute_name(:email), class: "valign" %>
      <%= text_field_tag :email, "", id: "login", autofocus: true %>
    </div>


    <div class="field">
      <%= label_tag :password, User.human_attribute_name(:password), class: "valign" %>
      <%= password_field_tag :password, "", id: "password" %>
    </div>


    <div class="holder">
      <%= link_to t('sessions.form.links.register'), new_account_path, class: "register-link" %>
    </div>


    <div class="holder-button">
      <%= submit_tag t('form.submit') %>
      <%= link_to t('sessions.form.links.forgot_password'), reset_password_path %>
    </div>

  <% end %>
</div>
