<div class="logo">
  <strong class="image"><%= link_to '', root_path %></strong>
  <span class="slogan"><%= APP::DESCRIPTION %></span>
</div>


<ul class="links">
  <li>
    <% if !signed_in? %>
      <% unless current_page?(controller: 'pages', action: 'home') %>
        <%= link_to t('header.sign_in'), new_session_path %>
      <% end %>
    <% else %>
      <%= link_to t('header.sign_out'), session_path(current_user), method: :delete %>
    <% end %>
  </li>
  <li>
    <%= link_to t('header.help'), help_path, class: "active" %>
  </li>
</ul>


<ul class="langs">
  <li class="en"><%= render 'shared/lang', name: :en %></li>
  <li class="uk"><%= render 'shared/lang', name: :uk %></li>
  <li class="ru"><%= render 'shared/lang', name: :ru %></li>
</ul>
