<div id="content">

  <div class="my-settings">
    <div class="border-img"></div>
    <div class="header">
      <h2><%= t '.my_settings' %></h2>
      <%= link_to t('edit'), "todo: edit_user_path(current_user)" %>
    </div>

    <%= render 'pages/data/my_settings' %>
  </div>

  <div class="my-forums" >
    <div class="border-img"></div>
    <div class="header">
      <h2><%= t '.my_forums' %></h2>
      <%= link_to t('add'), "todo: new_forum_path" %>
    </div>
  </div>

  <div class="my-letters">
    <div class="border-img"></div>
    <div class="header">
      <h2><%= t '.my_letters' %></h2>
      <%= link_to t('add'), "todo: new_letter_path" %>
    </div>
  </div>

</div>
