<div id="content">
  <div class="my-settings">
    <%= render 'pages/data/header', title: t('.my_settings'), btn_name: t('edit'), btn_path: edit_account_path(current_user) %>
    <%= render 'pages/data/my_settings' %>
  </div>

  <div class="my-forums" >
    <%= render 'pages/data/header', title: t('.my_forums'), btn_name: t('add'), btn_path: new_forum_path %>
    <%= render 'pages/data/my_forums' %>
  </div>

  <div class="my-letters">
    <%= render 'pages/data/header', title: t('.my_letters'), btn_name: t('add'), btn_path: new_letter_path %>
    <%= render 'pages/data/my_letters' %>
  </div>
</div>
