<h3>Статистика проекта:</h3>

<table>
  <tr>
    <td>Account</td>
    <td>(аккаунтов)</td>
    <td><%= Account.count %></td>
  </tr>
  <tr>
    <td>Forum</td>
    <td>(форумов)</td>
    <td><%= Forum.count %></td>
  </tr>
  <tr>
    <td>Letter</td>
    <td>(писем)</td>
    <td><%= Letter.count %></td>
  </tr>
  <tr>
    <td>Feed</td>
    <td>(чекаем фидов)</td>
    <td><%= Feed.count %></td>
  </tr>
  <tr>
    <td>FeedItem</td>
    <td>(записей в фидах)</td>
    <td><%= FeedItem.count %></td>
  </tr>
</table>
