<h3>
  <%= Account.model_name.human %> :
</h3>


<dl>

  <dt><%= Account.human_attribute_name(:email) %></dt>
  <dd>
    <span><%= current_account.email %>
      <% unless current_account.email_confirmed? %>
        <i class="not-confirmed">
          &nbsp;<%= t('.email_not_confirmed') %>
        </i>
      <% end %>
    </span>
  </dd>


  <dt><%= Account.human_attribute_name(:password) %></dt>
  <dd><span>***</span></dd>


  <dt><%= Account.human_attribute_name(:lang) %></dt>
  <dd><span><%= current_account.lang %></span></dd>


  <% if current_account.verificated? %>
    <dt></dt>
    <dd><span class="verified"><%= t '.verificated' %></span></dd>
  <% end %>


  <dt><%= Account.human_attribute_name(:send_notifications) %></dt>
  <dd><span><%= t current_account.send_notifications.to_s %></span></dd>


  <dt><%= Account.human_attribute_name(:token) %></dt>
  <dd>
    <span class="j-reset-token"><%= current_account.token %></span>
    <%= link_to( t(:reset), reset_token_account_path(current_account),
      remote: true,
      method: :patch,
      class: 'reset-token') %>
  </dd>

</dl>

<%= link_to t(:edit), edit_account_path(current_account), class: 'btn-edit' %>
